<!-- Main Container -->
<div id="main-container">

  <!-- Image Container -->
  <div class="image-size">
    <img class="img-fluid" src="/assets/img/banner-lady-gym.jpg">
  </div>

  <!-- Login container -->
  <div class="container-fluid">
    <div class="row justify-content-sm-left justify-content-md-center">
      <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">

        <!-- Registration Panel Placeholder -->
        <div id="registration-panel-placeholder">

          <!-- Registration Form -->
          <form>

            <div class="form-group">
              <label for="inputUsername">Username</label>
              <input type="text" class="form-control" id="inputUsername" placeholder="Zhunio">
            </div>

            <div class="form-group">
              <label for="inputEmail">Email</label>
              <input type="email" class="form-control" id="inputEmail" placeholder="your@email.com">
            </div>

            <div class="form-group">
              <label for="inputPassword">Password</label>
              <input type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>

            <button type="submit" class="btn btn-success btn-block">Create account</button>

          </form>

        </div>

        <!-- Login Registration Toggle -->
        <div id="login-registration-toggle">
          <p class="mb-0">Already a member? <a routerLink="/login">Sign in</a></p>
        </div>

      </div>
    </div>
  </div>

</div>
