@import "../../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../assets/scss/variables";

#main-container {
  position: relative;

  img {
    position: absolute;
    right: -15px;
  }

  .card {
    margin-bottom: 15px;

    a {
      color: black;
    }
    a:hover {
      text-decoration: none;
    }
  }
}

#login-panel-placeholder,
#registration-panel-placeholder,
#login-registration-toggle {
  background: $background-login-panel-color;
  border-radius: .35rem;
  margin: 0 auto 15px;
  padding: 15px;
}

@include media-breakpoint-down(xs) {
  img {
    display: none;
  }
}
