<!--&lt;!&ndash; Main Container &ndash;&gt;-->
<!--<div id="main-container">-->

  <!--&lt;!&ndash; Image Container &ndash;&gt;-->
  <!--<div class="image-size">-->
    <!--<img class="img-fluid" src="/assets/img/banner-lady-gym.jpg">-->
  <!--</div>-->

  <!--&lt;!&ndash; Login container &ndash;&gt;-->
  <!--<div class="container-fluid">-->
    <div class="row justify-content-sm-left justify-content-md-center">
      <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">

        <!-- Login Panel Placeholder -->
        <div id="login-panel-placeholder">

          <!-- Login Form -->
          <form>

            <div class="form-group">
              <label for="inputLoginID">Username or Email
                address</label>
              <input type="text" name="loginID" class="form-control"
                     id="inputLoginID"
                     placeholder="Zhunio"
                     pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+(@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*)?$"
                     [(ngModel)]="user.email"
                     required>
            </div>

            <div class="form-group">
              <label for="inputPassword">Password</label>
              <input type="password" name="password"
                     class="form-control" id="inputPassword"
                     placeholder="Password"
                     [(ngModel)]="user.password"
                     required>
            </div>

            <button (click)="login()" type="submit" class="btn btn-primary">Submit
            </button>

          </form>

        </div>

        <!-- Login Registration Toggle -->
        <div id="login-registration-toggle">
          <p class="mb-0">New? <a routerLink="/register">Register!</a></p>
        </div>

      </div>
    </div>
  <!--</div>-->

<!--</div>-->
